{% extends 'base.html.twig' %}


{% block body %}
<h1> Bienvenue sur l'Axoblog </h1>

 <p> ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
 <p> ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
{% endblock %}